html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  color: #440303;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  position: relative;
}
.nav-bar .main-links li {
  list-style-type: none;
  padding: 2em;
}
.nav-bar .Hamburger{
    display:none;
    position: absolute;
    left: 25px;
    top: -30px;
    list-style-type: none;
}
.nav-bar .main-links li a {
  text-decoration: none;
  position: relative;
  font-weight: bolder;
}
.nav-bar .main-links li a:after {
  content: "";
  position: absolute;
  background-color: rgb(244, 67, 54);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.nav-bar .main-links li a:hover::after {
  width: 100%;
}
.nav-bar .social-links li {
  position: relative;
  list-style-type: none;
  padding: 5px;
}
.nav-bar .social-links li a i::after {
  content: "";
  height: 10px;
  left: 8px;
  right: 2px;
  width: 10px;
  opacity: 0;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  bottom: -10px;
  transition: opacity 0.3s ease-in-out;
}
.nav-bar .social-links li a:hover i::after {
  opacity: 1;
}
@media screen and (max-width:820px){
    .nav-bar ul:not(.nav-bar .social-links){
        display:none;
    }

    .nav-bar { 
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

@media screen and (min-width:821px){
  .nav-bar .dropdown .dropbtn i{
    display: none;
  }
}

.bio {
  padding: 10px 150px;
}
h2 {
  font-weight: bold;
}
p {
  margin-top: 20px;
  padding: 10px;
  line-height: 1.5;
}
.Education {
  padding: 10px 150px;
}
.footer {
  padding: 10px 150px;
  margin-top: 10px;
}
.footer p {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 30%;
}
.timeline {
  background: var(--primary-color);
  margin: 40px auto;
  padding: 20px;
}

.title {
  color: orangered;
  position: relative;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.Edu-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .Edu-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .Edu-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .Edu-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .Edu-container {
    max-width: 1140px;
  }
}

body {
  margin-top: 50px !important;
  position: relative;
}
.Yearly-timeline {
  font-family: "Poppins", sans-serif;
}

.Yearly-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.Yearly-timeline .timeline {
  width: calc(50% + 17px);
  padding: 0 30px 30px 0;
  float: left;
  position: relative;
}
.Yearly-timeline .timeline:before,
.Yearly-timeline .timeline:after {
  content: "";
  height: 60px;
  width: 2px;
  border-left: 2px solid rgb(244, 67, 54);
  transform: rotate(-45deg);
  position: absolute;
  right: 30px;
  bottom: 0;
}
.Yearly-timeline .timeline:after {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border: 6px solid rgb(244, 67, 54);
  border-radius: 50%;
  right: 0;
}
.Yearly-timeline .timeline-content {
  color: #555;
  background: rgb(244, 67, 54);
  text-align: center;
  min-height: 170px;
  padding: 30px 35px 35px;
  border-radius: 15px 15px 0 15px;
  display: block;
  position: relative;
  z-index: 1;
}
.Yearly-timeline .timeline-content:before {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 17px;
  right: 17px;
  top: 17px;
  bottom: 17px;
  z-index: -1;
}
.Yearly-timeline .timeline-content:hover {
  text-decoration: none;
}
.Yearly-timeline .timeline-icon {
  color: #777;
  font-size: 35px;
}
.Yearly-timeline .title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.Yearly-timeline .description {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 18px;
  margin: 0;
}
.Yearly-timeline .timeline:nth-child(even) {
  padding: 0 0 30px 30px;
  float: right;
}
.Yearly-timeline .timeline:nth-child(even):before {
  transform: rotate(45deg);
  right: auto;
  left: 30px;
}
.Yearly-timeline .timeline:nth-child(even):after {
  right: auto;
  left: 0;
}
.Yearly-timeline .timeline:nth-child(even) .timeline-content {
  border-radius: 15px 15px 15px 0;
}
.Yearly-timeline .timeline:nth-child(4n + 2):before,
.Yearly-timeline .timeline:nth-child(4n + 2):after {
  border-color: #440303;
}
.Yearly-timeline .timeline:nth-child(4n + 2) .timeline-content {
  background: #440303;
}
.Yearly-timeline .timeline:nth-child(4n + 3):before,
.Yearly-timeline .timeline:nth-child(4n + 3):after {
  border-color: orangered;
}
.Yearly-timeline .timeline:nth-child(4n + 3) .timeline-content {
  background: orangered;
}
.Yearly-timeline .timeline:nth-child(4n + 4):before,
.Yearly-timeline .timeline:nth-child(4n + 4):after {
  border-color: darkgreen;
}
.Yearly-timeline .timeline:nth-child(4n + 4) .timeline-content {
  background: darkgreen;
}
@media screen and (max-width: 767px) {
  .Edu-container {
    margin-top: 25px;
  }
  .Yearly-timeline .timeline {
    width: 100%;
    padding: 30px 0 0 30px;
    margin: 0 0 20px;
  }
  .Yearly-timeline .timeline:before,
  .Yearly-timeline .timeline:nth-child(even):before {
    transform: rotate(-45deg);
    bottom: auto;
    top: 0;
    right: auto;
    left: 30px;
  }
  .Yearly-timeline .timeline:after,
  .Yearly-timeline .timeline:nth-child(even):after {
    bottom: auto;
    top: 0;
    right: auto;
    left: 0;
  }
  .Yearly-timeline .timeline-content,
  .Yearly-timeline .timeline:nth-child(even) .timeline-content {
    border-radius: 0 15px 15px 15px;
  }
}
a {
  text-decoration: none;
}
.Gallery {
  padding: 10px 150px;
}
.Gallery-row {
  height: 400px;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 400px;
  margin-top: 30px;
}
.column img {
  opacity: 0.8;
  cursor: pointer;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
}
.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.Gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.img-container {
  margin-top: 5px;
  position: relative;
  /* max-height: 200px; */
  display: none;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 50px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
@media screen and(max-width:998px) {
  .bio {
    padding: 10px 20px;
    background-color: red;
  }
}

@media screen and (max-width: 998px) {
  .footer p {
    left: 17.5%;
  }
  .Education,
  .bio {
    padding: 10px 25px;
  }
}

@media only screen and(max-width:975px) {
  .Gallery-row {
    display: grid;
    grid-template-columns: 300px;
    place-items: center;
  }
  .column {
    width: 100%;
  }
}

.dropbtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  margin: 10px 25px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 25px;
}


@media screen and (min-width: 805px){
  .whole{
    display: none;
  }
}
@media screen and (max-width: 805px){
  .Gallery{
    display: none;
  }
  .whole .slideshow-container {
    margin: 30px;
  }
  .footer {
    margin-top: 50px;
  }
  .slideshow-container {
    margin-top: 50px;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.whole h2, .whole hr{
  margin-left: 25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}